* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000;
}

.div-logo {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #fff;
}

html body {
  height: 100%;
}

#logo {
  border: 4px solid hsl(0, 58%, 31%);
  border-radius: 5%;
  width: 10%;
  height: 10%;
  margin-left: 1rem;
}

#logo:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(2);
  transition: 0.5s;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 100px;
  background-color: #000;
  color: #fff;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 2rem;
}

li > a {
  color: #fff;
  list-style: none;
  font-size: 24px;
  text-decoration: none;
}

li > a:hover {
  color: hsl(0, 100%, 30%);
}

.cards-display-section {
  margin-bottom: 8rem;
}

.movie-item {
  background-color: hsl(0, 100%, 30%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.movie-title {
  margin: 5px 0;
  color: hsl(0, 100%, 30%);
}

.btn {
  color: hsl(0, 100%, 30%);
  border: none;
  background-color: #000;
  padding: 10px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 100px;
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  padding: 5px;
  font-weight: 700;
  font-size: large;
}

@media screen and (max-width: 768px) {
  #logo {
    margin-right: 1.5rem;
    width: 50%;
    height: 50%;
    margin-top: 1rem;
  }
}
