* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div-logo {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #fff;
}

html body {
  height: 100%;
}

#logo {
  /* background-image: url('../images/logo.png'); */
  border: 4px solid hsl(0, 58%, 31%);
  border-radius: 5%;
  width: 50%;
  height: 50%;
}

#logo:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(2);
  transition: 0.5s;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 100px;
  background-color: #000;
  color: #fff;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

/* nav ul {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 2rem;
} */

li > a {
  color: #fff;
  list-style: none;
  font-size: 24px;
  text-decoration: none;
}

li > a:hover {
  color: hsl(0, 100%, 30%);
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 100px;
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
